@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.fb-horizontal {
    background-image: url("$lib/images/faux_bois_horizontal.png")
}

body { @apply bg-secondary-100 bg-[url('$lib/images/arches.png')] }