name: Deploy to Pages

on:
  push:
    branches: 'main'

jobs:
  build-site:
    runs-on: ubuntu-latest

    permissions:
      contents:
        write

    steps:
      - name: Checkout repo content
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      
      - name: Update cv.json
        run: python src/lib/text/update_cv_json.py

      - name: Setup node
        uses: actions/setup-node@v4
      
      - name: Install packages
        run: npm install

      - name: Build site
        run: npm run build
      
      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'build/'
  
  deploy:
    needs: build-site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write
    
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4